<h1>Users</h1>

<p>User data table</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' *ngIf="users">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Document type ID</th>
            <th>Document ID</th>
            <th>Mobile number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.documentTypeId == 1 ? 'CC' : (user.documentTypeId == 2 ? 'NIT' : 'TI') }}</td>
            <td>{{ user.documentId }}</td>
            <td>{{ user.mobileNumber }}</td>
        </tr>
    </tbody>
</table>
