<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Banlinea Test</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" *ngIf="!session.user">
                    <a [routerLink]="['/signin']">
                        <span class='glyphicon glyphicon-log-in'></span> Log In
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="!session.user">
                    <a [routerLink]="['/signup']">
                        <span class='glyphicon glyphicon-list-alt'></span> Sign Up
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="session.user">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-user'></span> Profile
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="session.user">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-th-list'></span> Users
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="session.user">
                    <a (click)="logOut()">
                        <span class='glyphicon glyphicon-log-out'></span> Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
