<h1>Sign In</h1>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email"/>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" min="5" max="15" [(ngModel)]="pwd"/>
                </div>
                <button class="btn btn-default" (click)="logIn()">Log in</button>
                <button class="btn btn-default" (click)="clean()">Clean</button>
            </div>
        </div>
    </div>
</div>
